name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

  workflow_call:
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.14"]

    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7

      - name: Test on ${{ matrix.os }} with python ${{ matrix.python-version }}
        run: uv run --python ${{ matrix.python-version }} --managed-python pytest

      - uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Test Go
        run: go test ./...
